.start {
  &-section {
    width: 100%;
    height: 100vh;
    background-color: #bcbcbc;
    background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
    background-image: -moz-linear-gradient(to top, #eb402c 0%, #d90647 100%);
    background-image: -webkit-linear-gradient(to top, #eb402c 0%, #d90647 100%);
    background-image: -o-linear-gradient(to top, #eb402c 0%, #d90647 100%);
    &:before {
      content: "";
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 240px solid white;
      border-left: 1600px solid transparent;
      @media only screen and (min-width: 1600px) {
        border-bottom: 340px solid white;
        border-left: 2600px solid transparent;
      }
      @media only screen and (min-width: 320px)  and(max-width: 768px) {
        border-bottom: 180px solid white;
        border-left: 1000px solid transparent;
      }
    }
  }
  &-content {
    padding-left: 200px;
    @media only screen and (max-width: 1000px) {
      padding-top: 90px;
    }
    @media only screen and (max-width: 786px) {
      padding: 120px 0 0 20px;
    }

  }
  &-heading {
    font: 900 72px Lato;
    margin-bottom: 30px;
    letter-spacing: 1px;
    width: 410px;
    @media only screen and (max-width: 1000px) {
      font: 900 50px Lato;
      margin-bottom: 20px;
    }
    @media only screen and (max-width: 580px) {
      font: 900 30px Lato;
      width: 200px;
    }
  }
  &-sub-heading {
    font: 400 22px/28px Lato;
    margin-bottom: 100px;
    @media only screen and (max-width: 1000px) {
      font: 400 18px/28px Lato;
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 580px) {
      font: 400 14px/28px Lato;
      width: 200px;
    }
  }
  &-img-phone{
    margin-top: 120px;
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
}

